.hp-courseName { color: #130ada }
.content-left-title { color: #666666 !important }
.activeCategory { color: #f12f39 }
.hp-blueBtn { background-color: #2f77f1 !important; border: 0 none !important; color: #ffffff !important }
.hp-sort { border: 1px solid #e9e9e9 !important }
.hp-courseRank1 { background-color: #e25af5 }
.zszx-bg { background-color: #e8aef3 }
.bottomActive { color: #666666 !important; background-color: #f12f3e }
.hp-header { color: #b13f96; background-color: #b13f96 }
.siderBox .menu-item { background-color: #002140 !important }
.hp-wrapBox { background-color: #1fd4f5 }
.textInformation { color: #dd0acb }